body {
  background-color: #d0f0fd;
}

h1 {
  color: #d94f4f;
  font-family: "Lora", serif;
  text-align: center;
}
nav {
  background-color: red;
}
p {
  font-family: "Roboto", sans-serif;
}
/* comentario */

/* hola*/

/* como va */
@import "./partials/variables";
