$cafe: #6f4e37;

// extend

.presentacion {
  font-size: 16px;
  padding: 10px;
}

.boton-rojo {
  border: black 3px solid;
  border: 10px;
  color: $cafe;
  height: 80px;
  background-color: red;
}

//extend

.boton-verde {
  @extend .boton-rojo;
  background-color: green;
}

// mixin

// sin parametros

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin destacados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

// Con parametros

@mixin dimension($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

// mixto

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
